@font-face {
    font-family: "namyang";
    font-weight: 700;
    src: url("/assets/fonts/namyangB.ttf") format("truetype");
}

@font-face {
    font-family: "namyang";
    font-weight: 400;
    src: url("/assets/fonts/namyangM.ttf") format("truetype");
}

@font-face {
    font-family: "nanum";
    font-weight: 700;
    src: url("/assets/fonts/NanumSquareB.ttf") format("truetype");
}

/*@font-face {*/
/*    font-family: "nanum";*/
/*    font-weight: 400;*/
/*    src: url("/assets/fonts/NanumSquareR.ttf") format("truetype");*/
/*}*/


